body{
    margin:0;
    background:#000;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

p{
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;

    font-size:4px;
    line-height:4px;
    letter-spacing:-0.5px;
    word-break:break-all;

    text-align:justify;

    background:url("EK.jpg") center center no-repeat;
    background-size:contain;

    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
